.popup {
    display: none;
}

.popup__button {
    display: flex;
}

@media screen and (max-width: 768px) {
    .popup_is-active {
        display: block;
        z-index: 3;
        transition: 0.9s ease;
    }

    .popup__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .popup__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 520px;
        height: 100%;
        background: #202020;
    }

    .popup__close {
        position: absolute;
        top: 22px;
        right: 22px;
        width: 32px;
        height: 32px;
        border: none;
        background: none;
        background-image: url('../../images/exit.svg');
        padding: 0;
    }

    .popup__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;
        margin: 159px auto 0;
        padding: 0;
    }

    .popup__item {
        list-style: none;
    }

    .popup__link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        color: #ffffff;
        padding-bottom: 6px;
        cursor: pointer;
    }

    .popup__link:hover,
    .popup__button:hover {
        transition: opacity 0.5s linear;
        opacity: 0.5;
    }

    .popup__link_active {
        border-bottom: 2px solid #ffffff;
        padding-bottom: 4px;
    }

    .popup__button {
        margin-bottom: 90px;
    }


}

@media screen and (min-width: 320px) and (max-width: 520px) {
    .popup__container {
        width: 100vw;
    }

    .popup__button {
        margin-bottom: 46px;
    }
}