.saved-movies {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 70px;
    min-height: 100vh;

}

@media screen and (max-width: 768px) {
    .saved-movies {
        padding: 0 30px;
    }
}

@media screen and (max-width: 430px) {
    .saved-movies {
        padding: 0 10px;
    }
}