.footer {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    padding: 79px 70px 20px 70px;
    background: #202020;
    margin: auto;

}

.footer__title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #8B8B8B;
    margin: 0 0 20px 0;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #424242;
    padding-top: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__copyright {

    text-decoration: none;
    color: #FFF;
    margin: 0;
}

.footer__links {
    display: flex;
    gap: 20px;
}

.footer__link {

    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

/* уточнить поведение при новедении */
.footer__link:hover {
    transition: opacity 0.5s linear;
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 79px 30px 20px 30px;
    }
}

@media screen and (max-width: 430px) {
    .footer {
        max-height: 253px;
        padding: 79px 10px 20px 10px;
    }

    .footer__title {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 21px 0;
    }

    .footer__info {
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
        font-size: 12px;
        line-height: 15px;
        padding-top: 30px;
    }

    .footer__links {
        flex-direction: column;
        gap: 12px;
    }
}